#caja1, #caja2, #caja3{
    width: 500px;
    height: 150px;
    margin: 50px auto;
    background-color: #e8e8e8;
}

#caja1{
    /* box-shadow: x y color; */
    box-shadow: 60px 16px teal;
}
#caja2{
    /* box-shadow: x y blur colot; */
    box-shadow: 10px 5px 5px #ccc;
}
#caja3{
    box-shadow: 0px 5px 5px #ccc;
}