*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #151515;
}
#azul, #celeste, #blanco{
    width: 250px;
    height: 130px;
}
#azul{
    background-color: #1f4c79;
    float: left;
}
#celeste{
    background-color: #74b1fa;
    float: left;
}
#blanco{
    background-color: #fff;
    float: left;
}