* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee7d2;
    width: 960px;
    margin: auto;
}
header{
    background-color: #c2b092;
    height: 130px;
}
nav{
    background-color: #867354;
    height: 60px;
}
main{
    background-color: #fff;
    min-height: 500px;
}
footer{
    background-color: #c2b092;
    height: 150px;
}