@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
@import url('https://csstools.github.io/normalize.css/11.0.0/normalize.css');
body{
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    color: #18252a;
    width: 900px;
    margin: auto;
}
    /* seteo general  */
    #contenedor, #contenedor2, #contenedor3,
    #contenedor4, #contenedor5 {
        background-color: #ccc;
        min-height: 300px;
        display: flex;
    }
    article{
        background-color: #fff;
        width: 200px;
        height: 100px;
        margin: 20px;
        text-align: center;
    }

    /* reglas específicas */
    #contenedor{
        flex-direction: row; /* default */
       /* flex-direction: row-reverse; /* invierte el orden */
        /* flex-direction: column;
        flex-direction: column-reverse; */
    }
    #contenedor2{
        flex-direction: row; /* default */
        flex-wrap: wrap; /* respeta los anchos */
    }
    #contenedor3{
        flex-wrap: wrap;
        justify-content: flex-start; /* default */
        /* justify-content: flex-end; /* a la derecha */
        /* justify-content: center; */
        /*justify-content: space-around; /* respeta margin */
        justify-content: space-evenly; /* no margin */
    }
    #contenedor4{
        min-height: 400px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* align-content: center; /* centra en vetical */
        /* align-content: space-around; /* respeta margin */
        align-content: space-evenly;
    }

    #contenedor5{
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: stretch;
    }
    #contenedor5 article{
        height: unset;
    }